/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #249c34;
    background: radial-gradient(circle, rgba(36, 156, 52, 1) 0%, rgba(22, 94, 4, 1) 100%);
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    background-color: #0f4c20;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#2ecc71 1.2px, transparent 1px);
    background-size: 25px 25px;
}

/* Quadrados do fundo */
.quadrado {
    position: absolute;
    background: linear-gradient(145deg, #00ff15, #41ac58);
    border-radius: 6px;
    opacity: 0;
    animation: desEmMov 1.5s ease forwards;
}

@keyframes brilhar {
    0%, 100% {
        opacity: 0.5;
        transform: scale(1);
        filter: drop-shadow(0 0 5px #00ff00);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
        filter: drop-shadow(0 0 15px #00ff00);
    }
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.estrela {
    position: absolute;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, #00ff00, transparent 70%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%,
            79% 91%, 50% 70%, 21% 91%, 32% 57%,
            2% 35%, 39% 35%);
    animation: brilhar 2s infinite ease-in-out;
}

/* POSIÇÃO DAS ESTRELAS*/
.estrela:nth-child(1) {
    top: 20%;
    left: 10%;
}

.estrela:nth-child(2) {
    top: 40%;
    left: 30%;
}

.estrela:nth-child(3) {
    top: 70%;
    left: 60%;
}

.estrela:nth-child(4) {
    top: 25%;
    left: 75%;
}

.estrela:nth-child(5) {
    top: 80%;
    left: 20%;
}

.estrela:nth-child(6) {
    top: 28%;
    left: 40%;
}

.estrela:nth-child(7) {
    top: 10%;
    left: 55%;
}

.estrela:nth-child(8) {
    top: 90%;
    left: 90%;
}

.estrela:nth-child(9) {
    top: 15%;
    left: 70%;
}

.estrela:nth-child(10) {
    top: 30%;
    left: 80%;
}

.estrela:nth-child(11) {
    top: 50%;
    left: 15%;
}

.estrela:nth-child(12) {
    top: 60%;
    left: 50%;
}

/* Tamanhos dos quadrados */
.big {
    width: 120px;
    height: 120px;
}

.small {
    width: 60px;
    height: 60px;
}

/* Posicionamento quadrados */
.top-left {
    top: 40px;
    left: 40px;
    animation-delay: 0.2s;
}

.top-left-2 {
    top: 180px;
    left: 40px;
    animation-delay: 0.4s;
}

.top-right {
    top: 60px;
    right: 40px;
    animation-delay: 0.6s;
}

.top-right-2 {
    top: 150px;
    right: 40px;
    animation-delay: 0.8s;
}

.bottom-right {
    bottom: 70px;
    right: 60px;
    animation-delay: 1s;
}

.bottom-right-2 {
    bottom: 30px;
    right: 170px;
    animation-delay: 1.2s;
}

.bottom-left {
    bottom: 50px;
    left: 150px;
    animation-delay: 1.4s;
}

.bottom-left-2 {
    bottom: 20px;
    left: 40px;
    animation-delay: 1.6s;
}

/* Animação quadrados, APARECEM SUAVEMENTE NA TELA */
@keyframes desEmMov {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Linhas SVG */
.lines {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: desLinhas 3s ease forwards, desaparecer 1s ease 4s forwards;
    z-index: 1;
}

@keyframes desLinhas {
    to {
        stroke-dashoffset: 0;
    }
}

/* Logo IFSP branca centralizada */
.logo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
    animation: movEsquerda 1s ease 5s forwards;
}

/* Grid logo IFSP */
.logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(4, 60px);
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Quadrados da logo */
.quadrado-logo {
    background-color: white;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    box-shadow: 8px 4px 6px rgba(0, 0, 0, 0.3); /* sombra leve */
    transform: translateY(20px);
    animation: desEmMov 0.7s ease forwards;
}

@keyframes trocaDeCores {
    0% {
        background-color: blue;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: rgb(255, 0, 221);
    }

    75% {
        background-color: rgb(101, 0, 216);
    }

    100% {
        background-color: rgb(255, 52, 52);
    }
}

/* Círculo logo */
.circle {
    background-color: blue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    opacity: 0;
    transform: translateY(20px);
    animation:
        desEmMov 0.7s ease forwards,
        trocaDeCores 5s 0.7s forwards;
    /* 0.7s delay para iniciar após o fadeIn */
}

/* Animação escalonada dos quadrados e círculo da logo */
/* Cada filho da logo-grid recebe um delay diferente para animação */
.logo-grid>div:nth-child(1) {
    animation-delay: 0.3s;
    /* círculo */
}

.logo-grid>div:nth-child(2) {
    animation-delay: 0.4s;
}

.logo-grid>div:nth-child(3) {
    animation-delay: 0.5s;
}

.logo-grid>div:nth-child(4) {
    animation-delay: 0.6s;
}

.logo-grid>div:nth-child(5) {
    animation-delay: 0.7s;
}

/* empty no 6 não anima */
.logo-grid>div:nth-child(7) {
    animation-delay: 0.8s;
}

.logo-grid>div:nth-child(8) {
    animation-delay: 0.9s;
}

.logo-grid>div:nth-child(9) {
    animation-delay: 1s;
}

.logo-grid>div:nth-child(10) {
    animation-delay: 1.1s;
}

.logo-grid>div:nth-child(11) {
    animation-delay: 1.2s;
}

/* Texto abaixo da logo */
.logo-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    font-family: "Archivo Black", sans-serif;
    margin-bottom: 6px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: tipo 3s steps(20) forwards, piscar 0.75s step-end infinite;
}

.logo-subtext {
    margin-left: 25px;
    font-weight: normal;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Archivo Black", sans-serif;
    animation: tipo2 3s steps(18) forwards, piscar 0.75s step-end infinite;

}

/* Animação que revela o texto letra por letra */
@keyframes tipo {
    from {
        width: 0
    }

    to {
        width: 20ch
    }

    /* 18 caracteres, ajuste se mudar texto */
}

@keyframes tipo2 {
    from {
        width: 0
    }

    to {
        width: 18ch
    }

    /* 18 caracteres, ajuste se mudar texto */
}

/* Piscar do cursor */
@keyframes piscar {
    0%, 100% {
        border-color: transparent
    }

    50% {
        border-color: white
    }
}

@keyframes neon {
    0% {
        box-shadow: 0 0 0px #4eff4e;
    }

    50% {
        box-shadow: 0 0 20px #6eff6e, 0 0 40px #98ff98;
    }

    100% {
        box-shadow: 0 0 0px #c7ffc7;
    }
}

.quadrado-logo {
    background-color: white;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    box-shadow: 8px 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(20px);
    animation: desEmMov 0.7s ease forwards;
    position: relative;
    z-index: 1;
}

.quadrado-logo::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: rgba(109, 252, 73, 0.986);
    filter: blur(8px);
    opacity: 0;
    z-index: -1;
    animation: neon 2s ease-in-out 2.2s forwards;
    animation: desEmMov 0.7s ease forwards, apagar 1s ease 5s forwards;
}

@keyframes apagar {
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}
/* Nova animação para sumir o quadrado verde */
@keyframes desaparecer {
    to {
      opacity: 0;
    }
  }
  
  /* Animação para mover logo-container para esquerda */
  @keyframes movEsquerda {
    to {
      transform: translate(calc(-50% - 470px), -50%);
    }
  }
  
  /* Faz o texto sumir após os quadrados aparecerem */
  .logo-text, .logo-subtext {
    animation: tipo 3s steps(20) forwards, piscar 0.75s step-end infinite, desaparecer 1s ease 4s forwards;
  }
  
  /* Para as animações typing permanecerem na largura final antes do fadeOut */
  .logo-text {
    width: 20ch;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .logo-subtext {
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
  }

  .categoria-bloco {
    position: fixed;
    top: 50%;
    left: 300%; /* espaço à direita da logo */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    opacity: 0;
    z-index: 10;
    animation: desCategorias 1s forwards, pularPraCima 6s forwards;
    animation-delay: 5s, 12s; /* primeiro aparece, depois sobe */
  }
  
  .categoria-row {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  
  .categoria-card {
    background: rgba(22, 94, 4, 0.95);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 0 10px #2ecc71;
    font-family: "Poppins", sans-serif;
    animation: desEmMov 0.8s ease forwards;
    height: 405px;
  }
  
  .categoria-card h2 {
    font-size: 1.3rem;
    margin-bottom: 12px;
    text-align: center;
  }
  
  .categoria-card li {
    margin-bottom: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .categoria-card a {
    color: #00ff00;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .categoria-card a:hover {
    color: #2ecc71
  }
  
  @keyframes desCategorias {
    to {
      opacity: 1;
    }
  }
  
  @keyframes subirECurtir {
    0% {
      transform: translate(50%, 500%);
      opacity: 1;
    }
    100% {
      transform: translate(50%, 200%);
      opacity: 0;
    }
  }
